.acordeon{
  width: 100%;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;

  border: 1px solid white;
  border-radius: 1rem;
  transition: .3s;
}

.acordeon:hover{
  background-color: #d9d9d96d;
}

.acordeon .trigger{
  background-color: transparent;
  color: white;

  font-size: 1.5rem;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  
  border: none;
}

.acordeon .trigger:hover{
  cursor: pointer;
}

.arrow{
  width: 1.5rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;

  background-image: url(/javascript/Bootcamp-FormacaoJavaScriptDeveloper/modulo04/portifolio/assets/img/icons/arrow.svg);
  transition: .25s;
}

.acordeon .content{
  display: none;
}

.open .arrow{
  transform: rotate(180deg);
}

.acordeon.open .content{
  display: inline-block;
}

.acordeon.open{
  background-color: #318ead3e;
  border-color: #318EAD;
}
